#scene {
    width: 800px;
    height: 800px;
    background-color: lightgreen;
    margin: 10px auto;
    position: relative;
}

#hero {
    background-image: url(/assets/hero.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#merchant {
    background-image: url(/assets/merchant.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dialogue_box {
    display: block;
    position: absolute;
    width: 730px;
    height: 150px;
    background-color: black;
    border: 5px gray solid;
    border-radius: 20px;
    bottom: 20px;
    transform: translateX(5%);
    visibility: hidden;
    font-family: 'Press Start 2P', cursive;
}

#dialogue_box span {
    font-size: 14px;
    color: white;
    line-height: 40px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;

    width: 100%;
    opacity: 0;
    animation: type3 2s steps(40, end), blink .5s step-end infinite alternate;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }