* {
    box-sizing: border-box;
}

#scene {
    width: 800px;
    height: 800px;
    background-color: lightgreen;
    margin: 10px auto;
    position: relative;
}

#hero {
    background-image: url(/assets/hero.png);
    width: 16px;
    height: 16px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#merchant {
    background-image: url(/assets/merchant.png);
    width: 16px;
    height: 16px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dialogue_box {
    position: absolute;
    width: 87.5%;
    height: 18.75%;
    background-color: black;
    border: 5px gray solid;
    border-radius: 20px;
    bottom: 6.25%;
    left: 6.25%;
    visibility: hidden;
    font-family: 'Press Start 2P', cursive;
}

#dialogue_box span {
    font-size: 14px;
    color: white;
    line-height: 40px;
    padding-left: 15px;
    margin-left: 15px;
}

.static-tree {
    background-image: url(/assets/tree.png);
}

.static-object {
    width: 16px;
    height: 16px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
