#scene {
    width: 800px;
    height: 800px;
    background-color: lightgreen;
    margin: 10px auto;
    position: relative;
}

#hero {
    background-image: url(/assets/hero.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#merchant {
    background-image: url(/assets/merchant.png);
    width: 50px;
    height: 50px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#dialogue_box {
    position: absolute;
    width: 730px;
    height: 150px;
    background-color: black;
    bottom: 20px;
    transform: translateX(-50%);
    visibility: hidden;
}